    #todo
{

    
   
    font-family: Arial;
    width: 45%;
    height: 50%;
   
    
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 5%;
    text-align: center;
    padding: 15px;
    position: absolute;
    background-color: white;
    float: right;
}

#cle{
  float: right;
}
#all{
    float: right;
    color: #959494 ;
    cursor: pointer;
}
#task ,#mid ,#footer{
    background-color: white;
}
#inp{
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color:#E3E2E2;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    margin: 0;
    width:100%;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    box-sizing: border-box;
    padding: 16px 60px 16px 60px;
    border-radius: 10px;
    border: none;
    background: #efefef;
    
}
#inp:focus{
background-color: #959494;
}
#fullpage {
    background-color: #E3E2E2;
}
#task{
    color:#959494 ; 
}
#footer{
    color: #959494 ;
}

.boxtodo{
    margin-left: 20px;
}
.add{
   float: left;
}
#zero , #le{
    float: left;
    padding: 2px;
}
#boxtodo{
    position: absolute;
    margin-left: 1%;
    margin-top: 18px;

}
#add{
    position: absolute;
    margin: 18px -40px;
}
.done{
    float: left;
    margin-top: -9px;
    padding: 5px;
}
.com{
    float: left;
}
#radio , #do {
    float: left;
}
#task{
    margin-top: 10px;
    cursor: pointer;
}
#clear {
    float: right ;

}
#footer {
    margin-top: 150px;
}